name: "Maven Build"

on:
  pull_request:
    branches: [ develop ]

jobs:
  
  maven-compile:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v3
      
      - name: "Setup JDK 11"
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 11
          architecture: x64
          cache: maven
      
      - name: "Run Maven 'compile'"
        run: mvn compile
